
{{!--<h2>Create A Card</h2>
<form {{action "createNewCard" on="submit"}}>
  <div class="form-group">
    <label>Title</label>

    <label>Year</label>

    <label>Abstract</label>

  </div>
  <div class="checkbox">
    <label>
      {{input type="checkbox" name="isRead" checked=isRead}}
      Read?
    </label>
  </div>
  <input type="submit" value="Add Card" class="btn btn-primary">
</form>
--}}

<div class="fileMenu">
  <h2>List of Cards</h2>
  <table class="fileTable">
       <thead>
         <tr>
           <th class="col-title">Title</th>
           <th class="col-year">Year</th>
           <th class="col-read">Read?</th>
           <th class="col-remove">Remove</th>
         </tr>
       </thead>

       <tbody>
         {{#each model as |card|}}
         <tr>
           <td {{action "viewCard" card on="click"}}>{{card.title}}</td>
           <td>{{card.year}}</td>
          <td {{action "deleteCard" card on="click"}}>
            x
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
<div {{action "openCardCreator" on="click"}} class="createButton createStart button">Create Card</div>
<div {{action "createNewCard" on="click"}} class="createButton createSubmit button">Submit</div>
<div {{action "cancelNewCard" on="click"}} class="createButton createCancel button">Cancel</div>
  <div class="cardDisplay">
      <div id="cardform">
          <div class="titlespace cardslot">
              <h3 class="cardTitle slotItem slotDisplay">Title</h3>
              <h5 class="slotItem slotLabel slotCreate">Title: </h5>{{textarea value=title class="slotCreate slotItem slotLine createBox"}}
          </div>
          <div class="yearsspace cardslot">
            <h4 class="cardYear slotItem slotDisplay ">Year</h4>
              <h5 class="slotItem slotLabel slotCreate">Year: </h5>{{textarea value=year class="slotCreate slotItem slotLine slotShort createBox"}}
          </div>
          <div class="authorspace cardslot">
            <h4 class="cardAuthors slotItem slotDisplay">Authors</h4>
              <h5 class="slotItem slotLabel slotCreate">Authors: </h5>{{textarea value=authors class="slotCreate slotItem slotLine createBox"}}
          </div>
          <div class="abstractspace cardslot">
            <h5 class="slotItem slotLabel">Abstract: </h5><p class="cardAbstract slotItem slotDisplay"></p>
          {{textarea value=abstract class="slotCreate slotItem createBox"}}
          </div>
      </div>
  </div>

