<!-- <h2>Create A Card</h2>
<form {{action "createNewCard" on="submit"}}>
  <div class="form-group">
    <label>Title</label>
    {{input value=title class="form-control"}}
    <label>Year</label>
    {{input value=year class="form-control"}}
  </div>
  <div class="checkbox">
    <label>
      {{input type="checkbox" name="isRead" checked=isRead}}
      Read?
    </label>
  </div>
  <input type="submit" value="Add Card" class="btn btn-primary">
</form> -->

<div class="fileMenu">
  <h2>List of Cards</h2>
  <table class="fileTable">
       <thead>
         <tr>
           <th class="col-title">Title</th>
           <th class="col-year">Year</th>
           <th class="col-read">Read?</th>
           <th class="col-remove">Remove</th>
         </tr>
       </thead>

       <tbody>
         {{#each model as |card|}}
         <tr>
           <td {{action "viewCard" card on="click"}}>{{card.title}}</td>
           <td>{{card.year}}</td>
           <td {{action "toggleCardRead" card on="click"}}>
                {{#if card.isRead}}
                 &#x2713;
                 {{else}}
                 &#x2717;
                 {{/if}}
             </td>
          <td {{action "deleteCard" card on="click"}}>
            x
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <div class="cardDisplay">
    <h2> Current Card</h2>
    <div id="cardform">
      <h3 class="cardTitle">Title</h3>
      <h4 class="cardYear">Year</h4>
    </div>
  </div>
